
.ButtonToggle {
    width: 60px;
    background-color: #F1FAEE;
    margin-left: 10px;
    color: #1D3557;
    cursor: pointer;
    font: inherit;
    border-radius: 5px;
    border-color: #dbead6;
    outline:none;
}

.ButtonToggleActive {
    background-color: #1D3557;
    margin-left: 10px;
    color: #F1FAEE;
    border-color: #ccc;
}