.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    border: 1px solid #5C9210;
    color: #5C9210;
}

.Danger {
    border: 1px solid #E91E63;
    color: #E91E63;
}

.Cancel {
    border: 1px solid #ffc107;
    color: #ffc107;
}

.SuccessRoundBorder.Button:first-of-type {
    border: solid #ccc 1px;
    padding: 10px 70px;
    border-radius: 10px;
    color: #5C9210;
}