.HistoryCell {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.WorkedTime {
    flex-grow: 10;
}

.WorkedDate > p,
.WorkedTime > p,
.Earned > p
 {
    margin: 0;
}

.WorkedDate,
.WorkedTime,
.Earned {
    margin: 0;
}

.WorkedDate {
    padding: 0 20px;
    /* border: 1px solid #eee */
}

.WorkedTime,
.Earned {
    margin-top: 20px;
}

.Day {
    font-size: 3em;
    color: #525252;
}

.Month,
.Year,
.WorkedPeriods {
    color: #ccc;
}

.Day,
.Month,
.Year {
    text-align: center;
}

.WorkedSum,
.EarnedSum {
    font-size: 2em;
}

.WorkedSum,
.EarnedSum,
.WorkedPeriods,
.Billed
{
    padding: 0 10px;
}

@media (max-width: 450px) {
    .WorkedSum,
    .EarnedSum,
    .WorkedPeriods,
    .Billed
    {
        padding: 0 5px;
    }
}

@media (max-width: 500px) {
    .HistoryCell {
        width: 99%;
    }

    .WorkedSum,
    .EarnedSum {
        font-size: 1.5em;
    }

    .WorkedTime,
    .Earned {
        margin-top: 5px;
    }

    .Day {
        font-size: 2em;
    }
}

