.DateRangeCell {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.DateInputs {
    display: flex;
    flex-flow: column;
}

.DatePresetRange {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    .DateRangeCell {
        width: 99%;
    }
}