.ProjectCell {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.ProjectName {
    flex-grow: 10;
}

.ProjectName,
.ProjectCost {
    font-size: 1.5em;
}

.ProjectName {
    margin-right: 10px;
}