.Vehicol {
    width: 98%;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

@media (min-width: 415px) {
    .Vehicol {
        display: flex;
        justify-content: center;
    }
}

.PlateNumber {
    text-align: center;
    flex-grow: 5;
    margin: 0;
}

.goBack {
    margin-left: 10px;
    color: #8E6E53;
}

.save {
    margin-left: 10px;
    color: #4C9F70;
}

.delete {
    margin-left: 10px;
    color: red;
}

fieldset {
    border: none;
}

label {
    font-size: 0.9em;
    color: #496F5D;
}

input[type=text], 
input[type=date]
{
    width: 100%;
    color: #496F5D;
    font-size: 1em;
}

.CellHeader {
    display: flex;
    justify-content: space-between
}

.CellHeader > h1 {
    margin: 0 15px;
}

button:disabled {
    color: #ccc;
}





