.Vehicol {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.VehicolHeader {
    width: 99%;
    margin: 10px auto;
    box-sizing: border-box;

    display: flex;
    /* flex-direction: row; */
    align-items: baseline;
    justify-content: space-between;
}

.PlateNumber {
    text-align: center;
    flex-grow: 5;
    margin: 0;
}

.goBack {
    color: #4C9F70;
}

fieldset {
    border: none;
}

